extends layout

block content
  .container-fluid.text-center
    h2.title Featured Video
      hr
    .embed-responsive.embed-responsive-16by9
      iframe.embed-resonsive-item(src="https://www.youtube.com/embed/59GKFL5wGM8", allow="autoplay; encrypted-media", allowfullscreen)
    p guides placeholder
    .row
      .col-12
  //- div.testspace
  //- div#test
  //-   div.reddiv
  //-   div.bluediv
  //-   div.yellowdiv

