extends layout

block content
  .container-fluid.text-center
    .h1#header KHLOES SLIMES
    .row
      .col-12
        .carousel.slide#carouselIndicators(data-ride="carousel")
          ol.carousel-indicators
            li.active(data-target="#carouselIndicators", data-slide-to="0")
            li(data-target="#carouselIndicators", data-slide-to="1")
            li(data-target="#carouselIndicators", data-slide-to="2")
          .carousel-inner
            .carousel-item.active
              img.d-block.w-100(src="/images/slime.png", alt="First slide")
            .carousel-item
              img.d-block.w-100(src="/images/slimeSupplies.jpg", alt="Second slide")
            .carousel-item
              img.d-block.w-100(src="...", alt="Third slide")
          a.carousel-control-prev(href="#carouselIndicators", role="button", data-slide="prev")
            span.carousel-control-prev-icon(aria-hidden="true")
            span.sr-only Previous
          a.carousel-control-next(href="#carouselIndicators", role="button", data-slide="next")
            span.carousel-control-next-icon(aria-hidden="true")
            span.sr-only Next
  .container.content.text-center
    h2.title The Slimes
      hr
    .row
      .col-12.card-deck
        .card
          img.card-img-top(src="/images/greenSlime.jpg")
          .card-body
            h5.card-title Left Card
            p.card-text This is the card that is on the left
        .card
          img.card-img-top(src="/images/blueSlime.jpg")
          .card-body
            h5.card-title Middle Card
            p.card-text This is the card that is in the middle
        .card
          img.card-img-top(src="/images/redSlime.jpg")
          .card-body
            h5.card-title Right Card
            p.card-text This is the card that is on the right
    h2.title The Slimes
     hr
  .row.no-gutters.text-center.portfolio
    .col-lg-4.col-sm-6.slides
      a.pic-link(href="#")
        img.img-fluid(src="/images/placeholder.jpg")
        .info
          .info-caption
            h4 Regular
    .col-lg-4.col-sm-6.slides
      a.pic-link(href="#")
        img.img-fluid(src="/images/placeholder.jpg")
        .info
          .info-caption
            h4 Fluffy
    .col-lg-4.col-sm-6.slides
      a.pic-link(href="#")
        img.img-fluid(src="/images/placeholder.jpg")
        .info
          .info-caption
            h4 Color Change
    .col-lg-4.col-sm-6.slides
      a.pic-link(href="#")
        img.img-fluid(src="/images/placeholder.jpg")
        .info
          .info-caption
            h4 Glow in the Dark
    .col-lg-4.col-sm-6.slides
      a.pic-link(href="#")
        img.img-fluid(src="/images/placeholder.jpg")
        .info
          .info-caption
            h4 Unicorn
    .col-lg-4.col-sm-6.slides
      a.pic-link(href="#")
        img.img-fluid(src="/images/placeholder.jpg")
        .info
          .info-caption
            h4 Floam