doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width", initial-scale="1", shrink-to-fit="no")
    link(rel="icon" type="image/x-icon", href="/icons/favicon.ico")
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="stylesheet", href="/bootstrap/dist/css/bootstrap.min.css")
    script(src="/javascripts/jquery.min.js")
    script(src="/bootstrap/dist/js/bootstrap.min.js")
    title #{title}
    block scripts
  body
    .container-fluid
      nav.navbar.navbar-light.navbar-expand-lg.fixed-top
        a.navbar-brand(href="/") Khloes Slimes
        button.navbar-toggler(type="button", data-toggle="collapse", data-target="#navbarText")
          span.navbar-toggler-icon
        .collapse.navbar-collapse#navbarText
          ul.navbar-nav.mr-auto
            li.nav-item.active
              a.nav-link(href="/") Home
            li.nav-item 
              a.nav-link(href="/slimes") Slimes
            li.nav-item 
              a.nav-link(href="/guides") Guides
            li.nav-item 
              a.nav-link(href="/contact") Contact
    block content
    footer.container-fluid
      .row.no-gutters
        ul.list-inline
          li.list-inline-item
            a.social(href="#")
              svg
                use(xlink:href="icons/twitter.svg#twitter")
              span Twitter
          li.list-inline-item
            a.social(href="#")
              svg
                use(xlink:href="icons/facebook.svg#facebook")
              span Facebook
          li.list-inline-item
            a.social(href="#")
              svg
                use(xlink:href="icons/instagram.svg#instagram")
              span Instagram


