@font-face {
  font-family: Shlop;
  src: url(../fonts/shlop.ttf);
}

@font-face {
  font-family: Icons;
  src: url(../icons/twitter.svg);
}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

body > .container-fluid {
  padding-left: 0px;
  padding-right: 0px;
  background-color: black;
}

img.w-100 {
  height: calc(80vh - 56px);
}

.title {
  padding-top: 30px;
  padding-bottom: 15px;
}

.left {
  padding-top: 15px;
  background-color: red;
  height: 200px;
}

.right {
  background-color: purple;
  height: 200px;
}

.mid {
  height: 200px;
}

.content {
  margin-top: 15px;
}

.card-body {
  border-top: 1px solid rgba(0,0,0,.125)
}

.card-img-top {
  height: 225.5px;
}

#header {
  font-size: 500%;
  letter-spacing: 8px;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  position: absolute;
  color: blue;
  display: inline-block;
  z-index: 1;
  font-family: Shlop;
  font-weight: bold;
  text-shadow:
  1px 1px 0 #FFFF00,
  2px 2px 0 #FFFF00;
}
.container-fluid {
  position: relative;
}

div > nav.navbar {
  background-color: #429a15;
}

.pic-link {
  display: block;
  max-width: 650px;
  height: 100%;
  position: relative;
}

.info {
  display: block;
  width: 100%;
  height:100%;
  opacity: 0;
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: yellow;
  transition: opacity .3s;
}
.info:hover {
  opacity: .8;
}

.info-caption > h4 {
  color: blue;
  opacity: 1;
  padding-top: 25%;
}

h2 > hr {
  max-width: 50px;
  border: solid #429a15;
  border-top: 1px;
}

body > footer.container-fluid {
/*  display: block;*/
  margin-top: 15px;
  height: 200px;
  background-color: #429a15;
}

svg {
  height: 24px;
  width: 24px;
}

use {
  stroke-width: 2;
  stroke: yellow;
  fill: blue;
}

.social:hover use {
  fill: darkblue;
  stroke: #8b8b00;
}

.social:hover span {
  color: #8b8b00;
}

.social:hover {
  text-decoration: none !important;
}

/*use:hover {
  fill: darkblue;
  stroke: #8b8b00;
}*/

/*span:hover {
  color: #8b8b00;
}*/

.portfolio {
  padding-bottom: 118px;
}

.row > .list-inline > li > a {
  padding: 8px;
}

.row > .list-inline {
  padding-top: 8px;
}

span {
  color: yellow;
}

a {
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
}

h2.title {
  color: blue;
}

/*Animations Test*/

.testspace {
  background-color: black;
  height: 2000px;
  width: 100vw;
}

#test {
  height:400px;
  width: 100vw;
}

.reddiv {
  height: 300px;
  width: calc(25vw);
  margin-top: 50px;
  margin-left: calc(25vw / 4);
  background-color: red;
  display: inline-block;
}

.bluediv {
  height: 300px;
  width: calc(25vw);
  margin-top: 50px;
  margin-left: calc(25vw / 4);
  margin-right: calc(25vw / 4);
  background-color: blue;
  display: inline-block;
}

.yellowdiv {
  height: 300px;
  width: calc(25vw);
  margin-top: 50px;
  background-color: yellow;
  display: inline-block;
}

.card-deck div {  
  opacity: 0;
}

@keyframes animation {
  100% {
    opacity: 1;
  }
}

@keyframes slide {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(50px);
  }
}

.card-deck.animate div {
  animation: animation 3s forwards;
}

#test.animate .bluediv {
  animation-delay: 1s;
}

#test.animate .yellowdiv {
  animation-delay: 2s;
}


.portfolio.animate .slides {
  transform: translateX(0);
  opacity: 1;
}

.slides {
  transform: translateX(-100vw);
  opacity: 0;
/*  transition: all 1s ease-in;*/
}

.slides:nth-child(1) {
  transition: all 2s ease-in-out .5s;
}

.slides:nth-child(2) {
  transition: all 2s ease-in-out 0s;
}

.slides:nth-child(3) {
  transition: all 2s ease-in-out 2.5s;
}

.slides:nth-child(4) {
  transition: all 2s ease-in-out 2s;
}

.slides:nth-child(5) {
  transition: all 2s ease-in-out 4.5s;
}

.slides:nth-child(6) {
  transition: all 2s ease-in-out 4s;
}